
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <ul class="nav">
        <li class="nav-item" 
        routerLinkActive="activebutton"
        [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" aria-current="page" routerLink="/" >Applications</a>
        </li>
        <li class="nav-item" routerLinkActive="activebutton">
          <a class="nav-link" routerLink="/commonProblem">Common Problem</a>
        </li>
        <li class="nav-item" routerLinkActive="activebutton">
          <a class="nav-link" routerLink="/commonSolution">Common Solution</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
  </nav>


  <router-outlet></router-outlet>