<p>solution works!</p>

<form>
    <div class="mb-3">
        <label for="problemDescription" class="form-label">ProblemDescription</label>
        <input type="text" class="form-control" id="problemDescription">
      </div>
  
    <div class="mb-3">
      <label for="solutionDescription" class="form-label">Solution Description</label>
      <input type="text" class="form-control" id="solutionDescription">
    </div>
    <div class="mb-3">
        <label for="applicationName" class="form-label">Application Name</label>
        <input type="text" class="form-control" id="applicationName" aria-describedby="emailHelp">
        
      </div>

    <div class="mb-3 form-check">
      <input type="hidden" class="form-check-input" id="problemId">
     
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <app-solution-list></app-solution-list>
